body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.header {
    padding-bottom: 5px;
    padding-left: 110px;
    font-weight: 900;
    font-size: 50px;
}

.head {
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 10px;
}

.container {
    background-color: white;
    display: flex;
    padding-top: 50px;
}

.side {
    flex: 30%;
    background-color: rgb(0, 255, 255);
    padding: 20px;
    float: left;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
    border: 6px rgb(0, 255, 255) solid;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}
